{% extends 'base.html.twig' %}
{% block js %}
    <style>
        /* The container */
        .container {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
        }

        /* On mouse-over, add a grey background color */
        .container:hover input ~ .checkmark {
            background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        .container input:checked ~ .checkmark {
            background-color: #2196F3;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        .container input:checked ~ .checkmark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .container .checkmark:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    </style>
    <script>
        var cats = [];
        $(document).ready(function(){
            {% for c in cats %}
            $("#{{ c.libelleC }}").change(function(){
                if(cats.indexOf("{{ c.libelleC }}") == -1)
                    cats.push("{{ c.libelleC }}");
                else
                    cats.splice(cats.indexOf("{{ c.libelleC }}"), 1);
                if(cats.length>0) {
                    {% for cc in cats %}
                    if (cats.indexOf("{{ cc.libelleC }}") == -1)
                        $(".{{ cc.libelleC }}").hide();
                    else

                        $(".{{ cc.libelleC }}").show();
                    {% endfor %}
                }
                else{
                    {% for cc in cats %}
                        $(".{{ cc.libelleC }}").show();
                    {% endfor %}
                }

            });
            {% endfor %}
        });
    </script>
    <script>
        function myFunction(libelle, image,prix,categorie) {
            $("#view1img").attr("src", "{{ asset('photos/') }}"+image);
            $("#title1").html(libelle)
            $("#categorie1").html(categorie)
            $("#prix1").html(prix)
        }
    </script>
{% endblock %}
{% block body %}
    <input type="hidden" id="libelle">
    <input type="hidden" id="image">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <section id="page-content" class="page-wrapper">
    <div class="banner-area section-padding">
        <div class="container">
        <br>
        <h2><strong>Liste des categories :</strong></h2>
        <br>

        {% for c in cats %}

            <label class="container">{{ c.libelleC }}
                <input type="checkbox" value="{{ c.libelleC }}" id="{{ c.libelleC }}">
                <span class="checkmark"></span>

            </label>
        {% endfor %}




    <br>
    <h2><strong>Liste de produits :</strong></h2>
    <br>
        {% for p in produit %}
            {%  set k = loop.index0 %}
            <div class="{{ p.categorie.libelleC }}">
        <div class="product-list tab-content" >
            <div role="tabpanel" class="tab-pane fade in active" id="home">
        <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="single-product mb-40">
            <div class="product-img-content mb-20">
                <div class="product-img">
                    <a href="{{ path('details_produitF',{'id':p.id}) }}">
                        <img class="imageproduit2" src="{{ asset( 'photos/') }}{{ p.image }}" alt="{{ p.libelleP }}">
                    </a>
                </div>
                <div class="product-action text-center">
                    <a href="#" onclick="myFunction('{{ p.libelleP }}','{{ p.image }}','{{ p.prixVente }}','{{ p.categorie.libelleC }}')" title="Quick view" data-toggle="modal" data-target="#productModal">
                        <i class="zmdi zmdi-eye"></i>
                    </a>
                    <a href="#" title="Add to cart">
                        <i class="zmdi zmdi-shopping-cart"></i>
                    </a>
                    <a href="#" title="Add to Wishlist">
                        <i class="zmdi zmdi-favorite"></i>
                    </a>
                </div>
            </div>
            <div class="product-content text-center text-uppercase">
                <a href="{{ path('details_produitF',{'id':p.id}) }}" >{{ p.libelleP }}</a>
                <div class="rating-icon">
                    <i class="zmdi zmdi-star"></i>
                    <i class="zmdi zmdi-star"></i>
                    <i class="zmdi zmdi-star"></i>
                    <i class="zmdi zmdi-star-half"></i>
                    <i class="zmdi zmdi-star-half"></i>
                </div>
                <div class="product-price">
                    <span class="new-price">{{ p.prixVente }} DT</span>
                </div>
                <div class="product-price">
                    <span class="new-price">Nombre de vues : {{ p.nbrVues }}</span>
                </div>
            </div>
        </div>
        </div>
            </div>
        </div>
            </div>
        {% endfor %}
    </div>
    </div>
    </section>

    <div id="quickview-wrapper">
        <!-- Modal -->

        <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-product">

                            <div class="single-product-image">
                                <div id="product-img-content">
                                    <div id="my-tab-content" class="tab-content mb-20">

                                        <div class="tab-pane b-img active" id="view1">
                                            <a class="venobox"  href="{{ asset('freak/') }}images/product/product-details/1.jpg" data-gall="gallery" title=""><img id="view1img" src="{{ asset('freak/') }}images/product/product-details/1.jpg" alt=""></a>
                                        </div>
                                        <div class="tab-pane b-img" id="view2">
                                            <a class="venobox" href="{{ asset('freak/') }}images/product/product-details/2.jpg" data-gall="gallery" title=""><img src="{{ asset('freak/') }}images/product/product-details/2.jpg" alt=""></a>
                                        </div>
                                        <div class="tab-pane b-img" id="view3">
                                            <a class="venobox" href="{{ asset('freak/') }}images/product/product-details/3.jpg" data-gall="gallery" title=""><img src="{{ asset('freak/') }}images/product/product-details/3.jpg" alt=""></a>
                                        </div>
                                        <div class="tab-pane b-img" id="view4">
                                            <a class="venobox" href="{{ asset('freak/') }}images/product/product-details/4.jpg" data-gall="gallery" title=""><img src="{{ asset('freak/') }}images/product/product-details/4.jpg" alt=""></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="product-details-content">
                                <div class="product-content text-uppercase">
                                    <a id="title1" href="product-details.html" title="Slim Shirt With Stretch">Slim Shirt With Stretchddd</a>
                                    <div class="rating-icon pb-20 mt-10">
                                        <i class="zmdi zmdi-star"></i>
                                        <i class="zmdi zmdi-star"></i>
                                        <i class="zmdi zmdi-star"></i>
                                        <i class="zmdi zmdi-star-half"></i>
                                        <i class="zmdi zmdi-star-half"></i>
                                    </div>
                                    <div class="product-price pb-20">
                                        <span id="prix1" class="new-price"></span>

                                    </div>
                                </div>
                                <div class="product-view pb-20">
                                    <h4  class="product-details-tilte text-uppercase">categorie</h4>
                                    <p id="categorie1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. luptate. </p>
                                </div>

                                <div class="product-attributes clearfix">
                                    <div class="pull-left" id="quantity-wanted">
                                        <h4 class="product-details-tilte text-uppercase pb-10">quantity</h4>
                                        <input type="number" value="1">
                                    </div>
                                </div>
                                <div class="product-action-shop text-center mb-30">
                                    <a href="#" title="Quick view">
                                        <i class="zmdi zmdi-eye"></i>
                                    </a>
                                    <a href="#" title="Add to cart">
                                        <i class="zmdi zmdi-shopping-cart"></i>
                                    </a>
                                    <a href="#" title="Add to Wishlist">
                                        <i class="zmdi zmdi-favorite"></i>
                                    </a>
                                </div>
                                <div class="socialsharing-product">
                                    <h4 class="product-details-tilte text-uppercase pb-10">share this on</h4>
                                    <button type="button"><i class="zmdi zmdi-facebook"></i></button>
                                    <button type="button"><i class="zmdi zmdi-instagram"></i></button>
                                    <button type="button"><i class="zmdi zmdi-rss"></i></button>
                                    <button type="button"><i class="zmdi zmdi-twitter"></i></button>
                                    <button type="button"><i class="zmdi zmdi-pinterest"></i></button>
                                </div>
                            </div>
                            <!-- .product-info -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}