{% extends 'base.html.twig' %}

{% block body %}
    <section id="page-content" class="page-wrapper">
        <div class="banner-area section-padding">
            <div class="container">
                <section id="page-content" class="page-wrapper">
                    <!-- Start Shop Full Grid View -->
                    <div class="product-details-area section-padding">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="single-product-image">
                                        <div id="product-img-content">
                                            <div id="my-tab-content" class="tab-content mb-30">
                                                <div class="tab-pane b-img active" id="view1">
                                                    <a class="venobox" href="#"><img src="{{ asset('photos/' ~ image) }}"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="product-details-content">
                                        <div class="product-content text-uppercase">
                                            <h5>{{ libelleP }}</h5>
                                            <div class="rating-icon pb-30 mt-10">
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-half"></i>
                                                <i class="zmdi zmdi-star-half"></i>
                                            </div>
                                            <div class="product-price pb-30">
                                                <span class="new-price">{{ prixVente }} DT</span>
                                            </div>
                                        </div>
                                        <div class="product-view pb-30">
                                            <h4 class="product-details-tilte text-uppercase">categorie</h4>
                                            <p>{{ categorie.libelleC }}</p>
                                        </div>
                                        <div class="product-attributes clearfix">
                                            <div id="quantity-wanted" class="pull-left">
                                                <h4 class="product-details-tilte text-uppercase pb-10">quantity</h4>
                                                <input type="number" class="cart-plus-minus-box" value="1">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="product-action-shop text-center mb-40">
                                            <a href="#" title="Quick view" data-toggle="modal" data-target="#productModal">
                                                <i class="zmdi zmdi-eye"></i>
                                            </a>
                                            <a title="Add to cart" href="#">
                                                <i class="zmdi zmdi-shopping-cart"></i>
                                            </a>
                                            <a title="Add to Wishlist" href="#">
                                                <i class="zmdi zmdi-favorite"></i>
                                            </a>
                                        </div>
                                        <div class="socialsharing-product">
                                            <h4 class="product-details-tilte text-uppercase pb-10">share this on</h4>
                                            <button type="button"><i class="zmdi zmdi-facebook"></i></button>
                                            <button type="button"><i class="zmdi zmdi-instagram"></i></button>
                                            <button type="button"><i class="zmdi zmdi-rss"></i></button>
                                            <button type="button"><i class="zmdi zmdi-twitter"></i></button>
                                            <button type="button"><i class="zmdi zmdi-pinterest"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="product-details-content pt-90">
                                        <div class="p-details-tab">
                                            <ul class="nav nav-tabs text-uppercase mb-20" role="tablist">
                                                <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a></li>

                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="tab-content review">
                                            <div role="tabpanel" class="tab-pane active" id="description">
                                                <p>{{ descripion }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>

            </div>
        </div>
    </section>
{% endblock %}