{% extends 'base.html.twig' %}

{% block body %}
    <div>
    <h1>Reclamations list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th style="color: #005cbf">Message</th>
                <th style="color: green">Reponse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}

            <tr>
                <td><a href="{{ path('reclamation_show', { 'id': reclamation.id }) }}">{{ reclamation.id }}</a></td>
                <td>{{ reclamation.type }}</td>
                <td><textarea style="background-color: white" cols="5" disabled>{{ reclamation.message }}</textarea></td>
                <td><textarea style="background-color: white" cols="5" disabled>{{ reclamation.reponse }}</textarea></td>
                <td>
                    <ul>
                        <li>
                            <a  href="{{ path('reclamation_show', { 'id': reclamation.id }) }}">Afficher</a>
                        </li>
                        <li>
                            <a  href="{{ path('reclamation_edit', { 'id': reclamation.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reclamation_new') }}">Create a new reclamation</a>
        </li>
    </ul>
    </div>
    <br><br><br><br><br><br>
{% endblock %}
