{% extends 'baseBack.html.twig' %}
{% block bodyBack %}
    <br>
    <h2><strong>Liste des categories :</strong></h2>
    <br>
    <table class="table table-striped">
        <tr align="center"  >
            <td><b>ID</b></td>
            <td><b>Libelle</b></td>
            <td><b>Nbr produits</b></td>
            <td colspan="2"><b>Action</b></td>

        </tr>
        {% for c in categories %}
            <tr align=" center" >
                <td>{{c.id}}</td>
                <td>{{c.libelleC}}</td>
                <td>{{ c.produit|length }}</td>
                <td><a href="{{ path('modifier_categorie',{'id':c.id}) }}"><i class="fa fa-edit" style="color:#2e6da4 " ></i></a></td>
                <td><a class="confirmModal" href="{{ path('supprimer_categorie',{'id':c.id}) }}" ><i class="fa fa-trash" style="color: #ff6c5f"></i></a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ path('ajout_categorie') }}" class="sidebar-link"><i class="fas fa-plus"></i><span class="hide-menu"> ajouter categorie </span></a>
    <div id="dialog-confirm" title="Confirmation de la suppression" style="display:none;">
        <p>
            <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
            Etes-vous sûr de vouloir supprimer cette categorie ?
        </p>
    </div>

{% endblock %}