{% extends 'baseBack.html.twig' %}
{% block bodyBack %}
    <br>
    <h2><strong>Ajouter une categorie :</strong></h2>
    <br>
<table class="table table-striped">
    {{ form_start(form) }}
    <tr>
        <td>{{ form_label(form.libelleC)  }}</td>
        <td>{{ form_widget(form.libelleC,{ 'attr': {'class': 'form-control '}})  }}</td>
    </tr>
    <tr>
        <td></td>
        <td>{{ form_widget(form.Submit,{ 'attr': {'class': 'btn btn-success '}})  }}</td>
    </tr>
    {{ form_end(form)  }}
</table>
 {% endblock %}