{% extends 'baseBack.html.twig' %}

{% block bodyback %}
    <div class="sidebar-search">

        <div class="input-group custom-search-form">

            <input type="number" id="search" class="form-control" placeholder="Search by Id" min="1" required>
        </div>
        <!-- /input-group -->
    </div>
    <ul class="nav" id="side-menu">
        <li>
            <ul class="nav nav-second-level" id="entitiesNav">
            </ul>
        </li>
        <div id="commandes"></div>
<table class="table table-striped">
    <tr align="center"  >

    <tr>
        <td>{{ knp_pagination_sortable(commande,'Identifiant Commande ','id') }}</td>
        <td>{{  knp_pagination_sortable(commande,'Client ','idU') }}</td>
        <td>{{ knp_pagination_sortable(commande,'Date Commande ','date') }}</td>
        <td colspan="4"><b>Action</b></td>
    </tr>
    {% for c in commande %}
    <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.idU }}</td>
        <td>{{ c.date|date }}</td>
        <td> <a href="{{ path ('supprimercommande',{'id':c.id}) }}" onclick="return confirm('Etes vous sur?')" class="btn btn-danger" >supprimer</a></td>
        <td> <a class="btn btn-success" href="{{ path('showdetailscommande',{'id':c.id}) }}">Afficher Details Commande</a></td>
        <td> <a class="btn btn-info" href="{{ path('imprimer',{'id':c.id}) }}">Imprimer facture</a></td>

    </tr>

    {% endfor %}
</table>
        <div class="navigation " style="width:100%">
            {{ knp_pagination_render(commande) }}
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script language = "javascript">

            //$(document).ready(function(){

                $("#search").on("keyup",function(event){

                    $r=$("#search").val();
                    $.ajax({
                        url:        '/searchmyass',
                        type:       'POST',
                        dataType:   'json',
                        data:{'q':$r},
                        async:      true,

                        success: function(data) {
                            console.log(" zaaaaaaaaaaaab");

                            var e=$('<tr><th>id</th><th>Client</th><th>Date</th><th>Actions</th></tr>')
                            $("#commandes").html('');


                            for(let i=0;i<data.length;i++) {
                                commande = data[i];

                                var e =e + $('<tr><td id="id"></td>' +
                                    '<td>commande[id]</td>' +
                                    '<td>commande[idu]</td>' +
                                    '<td>commande[date]</td>' +
                                ' </tr>'

                            );
                                $('#commandes').html.append(e);




                            }
                        },
                        error : function(xhr, textStatus, errorThrown) {
                            alert('Commande introuvable ');
                            console.log(textStatus);
                            console.log(xhr);
                            console.log(errorThrown);
                        }
                    });

                })
            });

        </script>
{%  endblock %}

{% block javascripts %}

{%  endblock %}