{% extends 'baseBack.html.twig' %}

{% block bodyback %}
<table class="table table-striped">
    <tr align="center"  >

    <tr>
        <td style="color: #005eff ; font-family: bold">#Identifiant Produit </td>
        <td style="color: #005eff ; font-family: bold">Nom Produit </td>
        <td style="color: #005eff ; font-family: bold">Image </td>
        <td style="color: #005eff ; font-family: bold">Quantite </td>

    </tr>

    {% for p in produits %}

    <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.libelleP }}</td>
        <td><img class="imageproduit2" src="{{ asset( 'photos/') }}{{ p.image }}" alt="{{ p.libelleP }}" width="90" height="90">  </td>
        <td>{{ p.qte }}</td>


    </tr>

    {% endfor %}
</table>
<div>
        <hr>


    <p style="text-align:right;font-size:20px;color:#ff131d"  class="total">Prix Total :   {{ total }} TND</p>
    <hr>
</div>
{%  endblock %}
