{% extends 'base2.html.twig' %}

{% block bodyBack %}
    <h2> Liste des  Vehicules</h2>

    <table class="table table-striped table-bordered dataTable"  role="grid" aria-describedby="zero_config_info" id="zero_config" border="1">
        <tr>
            <th> Commande </th>
            <th> ville </th>
            <th> Date de création </th>
            <th> Statut</th>
            <th>Affectation</th>

        </tr>

        {%  for t in cmd %}
            <tr>
                <th> {{ t.id }}</th>

                <th> {{ t.adresse }}</th>
                <th>  {{ t.date |date(' j/m/yy') }}</th>
                <th> {{ t.etatLivraion }}</th>
                {% if t.etatLivraion == "affecté"   %}
                        <th></th>
                    {%  else %}
                        <th > <a  href="{{ path('affecterLivraison',
                                {'id':t.id}) }}"  >
                                Affecter</a></th>
                {% endif %}

            </tr>
        {% endfor %}
    </table>



{%  endblock %}