{% extends 'base2.html.twig' %}

{% block bodyBack %}
    <h2> Liste des  Vehicules</h2>

    <table class="table table-striped table-bordered dataTable"  role="grid" aria-describedby="zero_config_info" id="zero_config" border="1">
        <tr>
            <th> Nom </th>
            <th>Matricule</th>
            <th> Type Vehicule </th>
            <th> Disponible </th>
            <th></th>
            <th></th>
        </tr>

        {%  for t in vehicules %}
            <tr>
                <th> {{ t.nom }}</th>
                <th> {{ t.matricule }}</th>

                <th> {{ t.typeVehicule.libelle }}</th>
                {%  if t.disponibilite == 0 %}
                <th> Non disponible </th>
                {%  else %}
                    <th>  disponible </th>
                    {% endif %}

                <th> <a style="color: #1d50de"  class='confirmModal2'  id='{{ t.id}}'>
                        Modifier</a></th>
                <th> <a class="confirmModal" href="{{ path('supprimerVehicule',
                        {'id':t.id}) }}"  >
                        Supprimer</a></th>
            </tr>
        {% endfor %}
    </table>

    <div id="dialog-confirm" title="Confirmation de la suppression" style="display:none;">
        <p>
            <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
            Etes-vous sûr de vouloir supprimer ce vehicule ?
        </p>
    </div>


    <div id="dialog-confirm2" title="Modifier véhicule" style="display:none;">
        <div id="modif">

            <form name="fmodif" method="post" action="{{ path('ModifierVehiculePop') }}"><br>
                        <input type="hidden"  name="idd" class="idd" />  <br>
                        Nom:  <input type="text" name="nomm" class="nomm" /> <span style="color: red" class="error_name"> *nom ne doit pas être vide  </span> <br>
                Matricule:  <input type="text" name="matriculee" class="matriculee" /> <span style="color: red" class="error_matricule"> *matricule ne doit pas être vide  </span> <br>
                 Type Vehicule <select name="selct" class="selct">  </select> <br>

                        <input type="submit" value="Confirmer" name="bt" /> <br>
                    </form>

        </div>
    </div>



{%  endblock  %}

{%  block js2 %}

<script >

    $(document).ready(function() {
        $(".error_name").hide();
        $(".error_matricule").hide();
        $(".nomm").on("blur",function () {
            if($(this).val()==""){
                $(".error_name").fadeIn(2000);
            }else {
                $(".error_name").fadeOut(2000);
            }
        });

        $(".matriculee").on("blur",function () {
            if($(this).val()==""){
                $(".error_matricule").fadeIn(2000);
            }else {
                $(".error_matricule").fadeOut(2000);
            }
        });

        $("a").on("click", function (event) {

        var a= $(this).attr("id");
        if(a !=undefined) {

            $.ajax({
                url: 'ModifierVehicule2',
                type: 'POST',
                dataType: 'json',
                data: {'id': a},
                async: true,
                success: function (data) {
                    $(".error_name").hide();
                    $(".error_matricule").hide();
                    var a = data[1].id;
                    var b = data[1].named;
                    var c = data[1].matricule;
                    $(".idd").val(a);
                    $(".nomm").val(b);
                    $(".matriculee").val(c);
                    $(".selct").html("");
                    $(".selct").append(' <option selected="selected" value="' + data[1].typeVId + '">' + data[1].typeVL + ' </option>');


                    var typeV = data[1].typeVId;
                    $.ajax({
                        url: 'ModifierVehicule22',
                        type: 'POST',
                        dataType: 'json',
                        data: {'id': typeV},
                        async: true,
                        success: function (data) {
                            for (var i = 0; i < data.length; i++) {

                                $(".selct").append(' <option value="' + data[i].id + '">' + data[i].libelle + ' </option>');
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            alert('Ajax request failed.');
                        }


                    });

                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Ajax request failed.');
                }


            });
        }
        });





    });


</script>

{% endblock  %}