{% extends 'baseBack.html.twig' %}
{% block bodyBack %}
    <br>
    <h2><strong>Modifier une categorie :</strong></h2>
    <br>
    <table class="table table-striped">
        {{ form_start(form) }}
        <tr>
            <td>{{ form_label(form.libelleC)  }}</td>
            <td>{{ form_widget(form.libelleC)  }}</td>
        </tr>
        <tr>
            <td></td>
            <td>{{ form_widget(form.modifier,{ 'attr': {'class': 'btn btn-info '}})  }}</td>
        </tr>
        {{ form_end(form)  }}
    </table>
{% endblock %}