{% extends 'base2.html.twig' %}
{% block js2 %}
    <script>
        $(document).ready(function () {
            $("#quatite").hide();
            $("#seuil").hide();
            $('#backbundle_stock_quantite').keyup(function () {


                $.ajax({

                    success: function () {
                        var re =  /^[0-9]+$/;
                        var x = $('#backbundle_stock_quantite').val();
                        var y = $('#backbundle_stock_seuil').val();
                        if (re.test(x) && x>y) {

                            $('#backbundle_stock_Submit').prop('disabled', false);
                            $('#backbundle_stock_quantite').css('border',"1px  black");
                            $('#backbundle_stock_seuil').css('border',"1px  black");
                            $("#quatite").hide();
                            $("#seuil").hide();

                        } else {

                            $("#quatite").show();
                            //alert('ce champs ne peut pas contenir des nombres');
                            $('#backbundle_stock_Submit').prop('disabled', true);
                            $('#backbundle_stock_quantite').css('border',"1px solid #db4848");
                        }
                    }
                });


            });

            $('#backbundle_stock_seuil').keyup(function () {


                $.ajax({

                    success: function () {
                        var re =  /^[0-9]+$/;
                        var x = $('#backbundle_stock_seuil').val();
                        var y = $('#backbundle_stock_quantite').val();
                        if (re.test(x) && x<y) {

                            $('#backbundle_stock_Submit').prop('disabled', false);
                            $('#backbundle_stock_seuil').css('border',"1px  black");
                            $('#backbundle_stock_quantite').css('border',"1px  black");
                            $("#seuil").hide();
                            $("#quatite").hide();

                        } else {

                            $("#seuil").show();
                            //alert('ce champs ne peut pas contenir des nombres');
                            $('#backbundle_stock_Submit').prop('disabled', true);
                            $('#backbundle_stock_seuil').css('border',"1px solid #db4848");
                        }
                    }
                });


            });
        })
    </script>
{% endblock %}
{% block body %}
    <br>
    <h2><strong>Ajouter un stock :</strong></h2>
    <br>
    <table class="table table-striped">
        {{ form_start(form) }}
        <tr>
            <td>{{ form_label(form.produit)  }}</td>
            <td>{{ form_widget(form.produit,{ 'attr': {'class': 'form-control '}})  }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.quantite)  }}</td>
            <td>{{ form_widget(form.quantite,{ 'attr': {'class': 'form-control '}})  }}</td>
            <td><span class="text-danger" id="quatite"> *cet input n'est pas valide</span></td>
        </tr>
        <tr>
            <td>{{ form_label(form.seuil)  }}</td>
            <td>{{ form_widget(form.seuil,{ 'attr': {'class': 'form-control '}})  }}</td>
            <td><span class="text-danger" id="seuil"> *cet input n'est pas valide</span></td>
        </tr>
        <tr>
            <td>{{ form_label(form.depot)  }}</td>
            <td>{{ form_widget(form.depot,{ 'attr': {'class': 'form-control '}})  }}</td>
        </tr>
        <tr>
            <td></td>
            <td>{{ form_widget(form.Submit,{ 'attr': {'class': 'btn btn-success '}})  }}</td>
        </tr>
        {{ form_end(form)  }}
    </table>
{% endblock %}