{% extends 'base2.html.twig' %}

{% block bodyBack %}
    <h1>Modifier fournisseur</h1>



<table class="table table-striped">
    {{ form_start(edit_form) }}
    <tr>
        <td>Nom</td>
        <td>{{ form_widget(edit_form.nomf) }}</td>
    </tr>
    <tr>
        <td>Telephone</td>
        <td>{{ form_widget(edit_form.telf) }}</td>
    </tr>
    <tr>
        <td>E-mail</td>
        <td>{{ form_widget(edit_form.emailf) }}</td>
    </tr>
    <tr>
        <td>Site Web</td>
        <td>{{ form_widget(edit_form.sitewebf) }}</td>
    </tr>
    <tr>
        <td>Categorie</td>
        <td>{{ form_widget(edit_form.categorief) }}</td>
    </tr>
    <tr>
        <td> {{ form_widget(edit_form) }}
            <div align="right"><input  type="submit" value="Modifier" class="btn btn-info"/>
            {{ form_end(edit_form) }} </div></td>




        <td>


            {{ form_start(delete_form) }}<input type="submit" value="Effacer" class="btn btn-info"/>
                {{ form_end(delete_form) }}  </td>


    </tr>
<tr><td> <ul>
            <li>
                <a  href="{{ path('fournisseur_index') }}">Liste</a>
            </li></ul></td></tr>
</table>



{% endblock %}
